<div class = "cards">
    <div class = "cards-block fourty">
        <div class = "cards-block-icon">
            <fa-icon [icon] = "faUsers"></fa-icon>
        </div>

        <div class = "cards-block-text">
            <div class = "cards-block-text-value">
                <span>{{ userCount }}</span>
            </div>

            <div class = "cards-block-text-tag">
                <span>Usuários</span>
            </div>
        </div>
    </div>

    <div class = "cards-block sixty">
        <div class = "cards-block-icon">
            <fa-icon [icon] = "faScroll"></fa-icon>
        </div>

        <div class = "cards-block-text">
            <div class = "cards-block-text-value">
                <span>{{ pagesCount }}</span>
            </div>

            <div class = "cards-block-text-tag">
                <span>Páginas Extraidas</span>
            </div>
        </div>
    </div>

    <div class = "cards-block sixty">
        <div class = "cards-block-icon">
            <fa-icon [icon] = "faFile"></fa-icon>
        </div>

        <div class = "cards-block-text">
            <div class = "cards-block-text-value">
                <span>{{ docCount }}</span>
            </div>

            <div class = "cards-block-text-tag">
                <span>Documentos Lidos</span>
            </div>
        </div>
    </div>

    <div class = "cards-block sixty">
        <div class = "cards-block-icon">
            <fa-icon [icon] = "faScroll"></fa-icon>
        </div>

        <div class = "cards-block-text">
            <div class = "cards-block-text-value">
                <span>{{ pgPerDoc }}</span>
            </div>

            <div class = "cards-block-text-tag">
                <span>Paginas p/ Documento</span>
            </div>
        </div>
    </div>
</div>