<div class = "main">
    <div>
        <div class = "block">
            <app-cards></app-cards>
        </div>
    </div>
    
    <div class = "block-container">
        <div class = "block">
            <app-seasonality></app-seasonality>
        </div>

        <div class = "block">
            <app-doc-per-seg></app-doc-per-seg>
        </div>
    </div>    

    <div class = "block-container">
        <div class = "block">
            <app-type-seg></app-type-seg>
        </div>
    
        <div class = "block">
            <app-doc-dis></app-doc-dis>
        </div>
    </div>
</div>